@model KPBrokers.Submission.Quote.UI.ViewModels.BrokerViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<input type="hidden" asp-for="UserAccount.UserId" class="userid" />

<div class="row gutters">
    <div class="col-xl-6 col-lglg-6 col-md-6 col-sm-6 col-12">
        <div class="form-group">
            <label asp-for="UserAccount.UserName" class="control-label"></label>
            <input asp-for="UserAccount.UserName" class="form-control username" readonly="readonly" />
        </div>
    </div>

    <div class="col-xl-6 col-lglg-6 col-md-6 col-sm-6 col-12">
        <div class="form-group">
            <label asp-for="UserAccount.Email" class="control-label"></label>
            <input asp-for="UserAccount.Email" class="form-control email" placeholder="Email" />
        </div>
    </div>

    <div class="col-xl-6 col-lglg-6 col-md-6 col-sm-6 col-12">
        <div class="form-group">
            <label asp-for="UserAccount.Password" class="control-label" title="Password will be generated if you leave this blank"></label>
            <input asp-for="UserAccount.Password" class="form-control" type="password" />
            <span asp-validation-for="UserAccount.Password" class="text-danger"></span>
        </div>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="form-group">
            <label asp-for="UserAccount.RequirePasswordChange" class="control-label"></label>
            <select asp-for="UserAccount.RequirePasswordChange" class="form-control" required="required" style="width:100px">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
            <span asp-validation-for="UserAccount.RequirePasswordChange" class="text-danger"></span>
        </div>
    </div>
    <p><i>*** The newly reset password will be emailed to the address in the Email field. </i></p>
</div>

