
@{
    ViewData["Title"] = "Error";
}



<div class="error-screen" style="color:black;">
	<h1>505</h1>
	<h5>We're sorry! It looks like we have an internal issue, <br />Please try again in couple of minutes.</h5>
	<a href="index.html" class="btn">Report this Problem</a>
</div>


@section Scripts {
	<script src="~/vendor/particles/particles.min.js"></script>
	<script src="~/vendor/particles/particles-custom-error.js"></script>
}

@section Styles{
	<link rel="stylesheet" href="~vendor/particles/particles.css">
}