@page
@using KPBrokers.Submission.Quote.UI.Areas.Identity.Pages.Account
@model ConfirmEmailModel
@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
